<div class="nav-menu fixed-top">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <nav class="navbar navbar-dark navbar-expand-lg">
                  <a class="navbar-brand" href="index.html"><img src="../assets/logolivraire.jpg" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                  <div class="collapse navbar-collapse" id="navbar">
                      <!-- <ul class="navbar-nav ml-auto">
                          <li class="nav-item"> <a class="nav-link active" href="src/app/home.component.html">HOME <span class="sr-only"></span></a> </li>
                          <li class="nav-item"> <a class="nav-link" href="src/app/livraire.component.html">ADMINISTRATIF</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="#pricing">PRICING</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="#contact">CONTACT</a> </li>
                         
                      </ul> -->
                      <nav>
                          <a routerLink="/home">HOME</a> <br>
                          <a routerLink="/livraire">Livraire</a> <br>
                          <a routerLink="/galery">Galery</a> <br>
                          <a routerLink="/contacts">Contacts</a> <br>
                        </nav>
                  </div>
              </nav>
          </div>
      </div>
  </div>
  <p>
        CONTACTS  LIENS
  </p>
  <div>
      <h1>CONTACT FORM lieu de livraire</h1>
      <ul>
          <li>NOM:fardoussa osman</li>
          <li>Telehone: 0025377873424</li>
          <li>Adresse: djibouti rue paris</li>
          <li>Email: fardou1waiss@gmail.com</li>
      </ul>
      <h4>shaper formulaire d'ajout future employer administrateur que en recrute!!!!!!!</h4>
                            <form action="">

                              <label for="text">Nom</label>
                              <input type="text" value="">
                              <label for="text">email</label>
                              <input type="text" value="">
                              <label for="text">Numero de telephone</label>
                                <input type="text" value=""><br>
                                <label for="text">Message</label><br>
                                <input type="text"   value=""><br>
                                         <button type="submit">ajouter</button>
                                        </form>
                            </div>
                            

</div>
