
 <div class="nav-menu fixed-top">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <nav class="navbar navbar-dark navbar-expand-lg">
                  <a class="navbar-brand" href="index.html"><img src="../assets/logolivraire.jpg" class="img-fluid" alt="logo"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                  <div class="collapse navbar-collapse" id="navbar">
                      <!-- <ul class="navbar-nav ml-auto">
                          <li class="nav-item"> <a class="nav-link active" href="src/app/home.component.html">HOME <span class="sr-only"></span></a> </li>
                          <li class="nav-item"> <a class="nav-link" href="src/app/livraire.component.html">ADMINISTRATIF</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="#gallery">GALLERY</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="#pricing">PRICING</a> </li>
                          <li class="nav-item"> <a class="nav-link" href="#contact">CONTACT</a> </li>
                         
                      </ul> -->
                      <nav>
                          <a routerLink="/home">HOME</a> <br>
                          <a routerLink="/livraire">Livraire</a> <br>
                          <a routerLink="/galery">Galery</a> <br>
                          <a routerLink="/contacts">Contacts</a> <br>
                        </nav>
                  </div>
              </nav>
          </div>
      </div>
  </div>
        <h1>Pack Livraison: Gestion planning livraisons et transport.ng </h1>
  <a class="navbar-brand" href="index.html"><img src="../assets/imglog.jpg" class="img-fluid" alt="img"></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div><h6>Planning, livraisons, transport, camions, dépôts,...</h6></div>

  <h4>Gestion du planning des livraisons et transport</h4>
<p>
  Gérez le planning des livraisons de votre entreprise, depuis la création de la tâche jusqu'à la validation finale, choisissez votre camion, chauffeur ou dépôt, de la ou des livraisons et effectuez votre suivi.
Calculez et visualisez les trajets des transports
Imprimez vos plannings hebdomadaire, par camion, chauffeur ou dépôt. Validez vos livraison, et optimisez vos coûts de transport.
</p>

<h3>Caractéristiques du logiciel Planning livraisons</h3>
<p>
    Gérez le planning de votre parc de camions
    Gérez votre base clients, leurs adresses de livraison, etc.
    Analysez votre planning en un coup d'?il grâce aux pastilles de couleurs et autres éléments visuels
    Saisissez votre transport depuis le lieu de chargement jusqu'au lieu de retour, en passant par le lieu de livraion : le logiciel calcule les temps et les trajets pour vous
    Créez une fiche de livraison, renseignement du chauffeur, dépôt ou camion.
    Envoyez des fiches par mail en PDF
    Validez les livraisons
    Filtrez par chauffeur, dépôt ou camion.
    Affichez les adresses de livraison sur un plan.
    Multi-utilisateurs
    Compatible MAC, PC, iPhone, iPad, Android</p>
    <h5>Options disponibles pour notre logiciel Planning livraisons</h5>
    <p>
        Affichez le tableau de bord des livraisons, un planning par chauffeur et par jour
        Personnalisation sur devis</p>
</div>
